<h1>Listing potential_customers</h1>

<table>
  <tr>
    <th>Email</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @potential_customers.each do |potential_customer| %>
  <tr>
    <td><%= potential_customer.email %></td>
    <td><%= potential_customer.city %></td>
    <td><%= link_to 'Show', potential_customer %></td>
    <td><%= link_to 'Edit', edit_potential_customer_path(potential_customer) %></td>
    <td><%= link_to 'Destroy', potential_customer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Potential customer', new_potential_customer_path %>
