<h1>Registered Customers</h1>

</br>


<table cellpadding="5">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>
 
<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.email %></td>
	<td><%= link_to "View Information", customer %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @customers, :previous_label => "Previous", :next_label => "Next" %>
</br>
</br>
</br>
<%= link_to 'Registered Partners', 'partners' %> </br>
<%= link_to "Home", root_url %>