<h1>Registered Partners</h1>
</br>

<table cellpadding="5">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>
 
<% @partners.each do |partner| %>
  <tr>
    <td><%= partner.name %></td>
    <td><%= partner.email %></td>
	<td><%= link_to "View Information", partner %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @partners, :previous_label => "Previous", :next_label => "Next" %>
</br>
</br>
</br>
<%= link_to 'Registered Customers', 'customers' %> </br>
<%= link_to "Home", root_url %>