<h1>Partner Dashboard</h1>
<h2><%=current_user.name %></h2>

<h3>Bar Locations: </h3>  	

<% if(@bars.empty?) %>
	<h5> There are no bar locations linked to this account </h5>
<% else %>
	
	<ul>
	
	<% @bars.each do |bar| %>
		</br>
		<h4> 
			<%= bar.name %> 
		</h4>
		<p> 
			<%= link_to "View " + bar.name + "'s information", bar %>
		</p>
	
	
	
	<% if bar.pass_sets.empty? %>
<h5>No Pass Sets available</h5>
<% else %>
<h5>Pass Sets</h5>
<table cellpadding="10">
  <tr>
    <th>Date</th>
    <th>Total released passes</th>
    <th>Sold passes</th>
    <th>Unsold passes</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% bar.pass_sets.each do |pass_set| %>
  <tr>
    <td><%= pass_set.date.strftime("%m/%d/%Y") %></td>
    <td><%= pass_set.total_released_passes %></td>
    <td><%= pass_set.sold_passes %></td>
    <td><%= pass_set.unsold_passes %></td>
    <td>$<%= pass_set.price %>0</td>
	<td><%= link_to 'Show Purchased Tickets', [bar, pass_set] %></td>
  </tr>
<% end %>
</table>
<% end %>
	
	
	
<% end %>
</ul>

<%end%>