<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Google Maps JavaScript API v3 Example: Street View Layer</title>
    <link href="/maps/documentation/javascript/examples/default.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
      function initialize() {
        var barlocation = new google.maps.LatLng(<%= @bar.latitude%>,<%=@bar.longitude%>);
        var mapOptions = {
          center: barlocation,
          zoom: 14,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
        };
        var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
		var marker = new google.maps.Marker({
		            position: barlocation,
		            map: map,
					title: '<%= @bar.name %>'
		        });
		}
    </script>
</head>
<% content_for :head do %>
  <meta property="fb:app_id" content="567808586566843" /> 
  <meta property="og:type"   content="listdnow:bar" /> 
  <meta property="og:url"    content="<%= @full_path %>" /> 
  <meta property="og:title"  content="<%=@bar.name %>" /> 
  <meta property="og:image"  content="http://cdn1.iconfinder.com/data/icons/Symbolicons_Drink/502/Drink_BeerPint.png"  /> 
<% end %>
<div class="row">
  <div class="pull-left span7 shadow" id="bar-main">
    <h3> <%= @bar.name %> </h3>
    <address>
	  <small> <%= @bar.address %> </small>
    </address>
	<div class="row">
      <body onload="initialize()">
	    <div id="map_canvas" class="map span6" style="height: 130px;"></div>
      </body>
	</div>
  </div>

  <div class="pull-left span3 shadow" id="bar-info">
    <h5>Contact</h5>
    <small><abbr title="Phone">P: </abbr><%= number_to_phone(@bar.phone_number, :area_code => true) %></small><br><br>
    <h5>Hours</h5>
  </div>

  <% if @pass_sets.empty? %>
    <div class="shadow span11 center-text" id="passes-none">
      <h2>Sorry, there are no available passes at this time</h2>
    </div>
  <% else %>
	<div class="shadow span11" id="passes-avail">
	  <div class="div-header">
        <h5>Available Passes</h5>
	  </div>
	  <% @pass_sets.each do |pass_set| %>
		<div class="date-box span1 center-text">
	      <p class="lead"><%= link_to pass_set.date.strftime("%d"), [@bar, pass_set] %></p>
		  <div><%= link_to pass_set.date.strftime("%a"), [@bar, pass_set] %></div>
		</div>
	  <% end %>
	</div>
</div>

<% end %>


<%if(user_signed_in? && current_user.admin?) %>
<h5>
Active Pass Sets
</h5>
<table cellpadding="10">
  <tr>
    <th>Date</th>
    <th>Total released passes</th>
    <th>Sold passes</th>
    <th>Unsold passes</th>
    <th>Price</th>
    <th>Purchase?</th>
	<th></th>
	<th></th>
	<th></th>
  </tr>

<% @pass_sets.each do |pass_set| %>
  <tr>
    <td><%= pass_set.date %></td>
    <td><%= pass_set.total_released_passes %></td>
    <td><%= pass_set.sold_passes %></td>
    <td><%= pass_set.unsold_passes %></td>
    <td><%= pass_set.price %></td>

	<%if(user_signed_in? && current_user.admin?) %>
    <td><%= link_to 'Show Purchased Tickets', [@bar.user, @bar, pass_set] %></td>
	<td><%= link_to 'Edit', edit_user_bar_pass_set_path(@bar.user, @bar, pass_set) %></td>
	<td><%= link_to 'Delete', [@bar.user, @bar, pass_set],
               :confirm => 'Are you sure?',
               :method => :delete %> <td>
			   <%elsif (current_user.partner?)%>
			       <td><%= link_to 'Show Purchased Tickets', [@bar, pass_set] %></td>
				   <%else %>
			    <td><%= link_to 'Purchase a Ticket', [@bar,pass_set] %></td>   
			   <%end%>
  </tr>
<% end %>


</table>
</br>
<h5>
Expired Pass Sets
</h5>
<table cellpadding="10">
  <tr>
    <th>Date</th>
    <th>Total released passes</th>
    <th>Sold passes</th>
    <th>Unsold passes</th>
    <th>Price</th>
    <th>Purchase?</th>
	<th></th>
	<th></th>
	<th></th>
  </tr>
  
<% @expired_sets.each do |pass_set| %>
  <tr>
    <td><%= pass_set.date %></td>
    <td><%= pass_set.total_released_passes %></td>
    <td><%= pass_set.sold_passes %></td>
    <td><%= pass_set.unsold_passes %></td>
    <td><%= pass_set.price %></td>

	<%if(user_signed_in? && current_user.admin?) %>
    <td><%= link_to 'Show Purchased Tickets', [@bar.user, @bar, pass_set] %></td>
	<td><%= link_to 'Delete', [@bar.user, @bar, pass_set],
               :confirm => 'Are you sure?',
               :method => :delete %> <td>
			   <%elsif (current_user.partner?)%>
			       <td><%= link_to 'Show Purchased Tickets', [@bar, pass_set] %></td>
				   <%else %>
			    <td><%= link_to 'Purchase a Ticket', [@bar,pass_set] %></td>   
			   <%end%>
  </tr>
<% end %>
</table>

<% end %>

</br>
</br>
</br>

<%if user_signed_in? && (current_user.admin?) %>
<%= link_to 'New Pass set', new_user_bar_pass_set_path(@user,@bar) %> |
<%= link_to 'Edit Bar Information', edit_user_bar_path(@user,@bar) %> |
  <%= link_to 'Delete Bar Location', [@user,@bar],
               :confirm => 'Are you sure?',
               :method => :delete %> |
<%= link_to 'Back', @user %>
<%elsif(user_signed_in? && current_user.partner?) %>
<%= link_to 'Edit Bar Information', edit_bar_path(@bar) %> |
<%= link_to 'Back', root_path %>
<%end%>
