<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bar.name %>
</p>

<p>
  <b>Phone number:</b>
  <%= @bar.phone_number %>
</p>

<p>
  <b>Address:</b>
  <%= @bar.address %>
</p>

<p>
  <b>Intro paragraph:</b>
  <%= @bar.intro_paragraph %>
</p>

<% if @pass_set %>
<h2>Most Recent Pass Set</h2>
<%= render @pass_set %>
<% else %>
<h2>No Pass Sets available</h2>
<% end %>
<%= link_to 'Bar Pass Sets' , [@bar, :pass_sets] %> |
<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>
