<%= form_for([@bar.user,@bar,@pass_set]) do |f| %>
  
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :total_released_passes %><br />
    <%= f.number_field :total_released_passes %>
  </div>
  <div class="field">
    <%= f.label :sold_passes %><br />
    <%= f.number_field :sold_passes %>
  </div>
  <div class="field">
    <%= f.label :unsold_passes %><br />
    <%= f.number_field :unsold_passes %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
