<p>
  <b>Date:</b>
  <%= pass_set.date %>
</p>
 
<p>
  <b>Total Passes</b>
  <%= pass_set.total_released_passes%>
</p>
<p>
  <b>Sold Passes</b>
  <%= pass_set.sold_passes%>
</p>
<p>
  <b>Unsold Passes</b>
  <%= pass_set.unsold_passes%>
</p>
<p>
  <b>Price</b>
  <%= pass_set.price%>
</p>
