<h1>Listing pass_sets</h1>

<table>
  <tr>
    <th>Bar</th>
    <th>Date</th>
    <th>Total released passes</th>
    <th>Sold passes</th>
    <th>Unsold passes</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pass_sets.each do |pass_set| %>
  <tr>
    <td><%= pass_set.bar.name %></td>
    <td><%= pass_set.date %></td>
    <td><%= pass_set.total_released_passes %></td>
    <td><%= pass_set.sold_passes %></td>
    <td><%= pass_set.unsold_passes %></td>
    <td><%= pass_set.price %></td>
    <td><%= link_to 'Show', [@bar,pass_set] %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to @bar.name, @bar %>
<%= link_to 'New Pass set', new_bar_pass_set_path %>
