<% content_for :head do %>
<script type="text/javascript">
	function getlistd()
	{
	  FB.getLoginStatus() 
	  FB.api(
	    '/me/listdnow:get_listd_for',
	    'post',
	    { bar: "<%= @full_bar_path %>" },
	    function(response) {
	    });
	}
</script>
<% end %>

<!-- Version 2 -->
<div>
  <legend>Summary of Available Passes</legend>
  <dl class="dl-horizontal">
    <dt>Bar</dt>
    <dd><%= @pass_set.bar.name %></dd>
	<dt>Date</dt>
	<dd><%= @pass_set.date.strftime("%m/%d/%Y") %></dd>
	<dt>Passes Left</dt>
	<dd><%= @pass_set.unsold_passes %></dd>
	<dt>Price</dt>
	<dd>$<%= @pass_set.price.round %></dd>
  </dl>
</div>

<!-- Version 1 -->
<!-- <div class="row">
<div class="shadow span7" id="purchase-descr">
<h3><%= @pass_set.unsold_passes %> available passes for <%= @pass_set.date.strftime("%B %d, %Y") %></h3>

<p>
  <b>Bar:</b>
  <%= @pass_set.bar.name %><br>
  <b>Date:</b>
  <%= @pass_set.date.strftime("%m/%d/%Y") %><br>
  <b>Passes Left:</b>
  <%= @pass_set.unsold_passes %><br>
  <b>Price:</b>
  $<%= @pass_set.price.round %><br>
</p>
</div>
</div> -->

<!-- <p>
  <b>Total released passes:</b>
  <%= @pass_set.total_released_passes %>
</p>

<p>
  <b>Sold passes:</b>
  <%= @pass_set.sold_passes %>
</p> -->

</br>
<% if current_user.partner? || current_user.admin? %>
<% if @passes.empty? %>
<h5>No one has bought passes yet! </h5>
<%else%>
<table cellpadding="5" >
  <tr>
    <th>Name on Valid ID</th>
    <th>Entry Date</th>
    <th>Bar</th>
    <th># of Passes</th>
    <th>Purchase Date</th>
    <th>Redeemed?</th>
	<th></th>
  </tr>

<% @passes.each do |pass| %>
  <tr>
    <td><%= pass.name %></td>
    <td><%= pass.pass_set.date.strftime("%m/%d/%Y") %></td>
    <td><%= pass.pass_set.bar.name %></td>
    <td><%= pass.entries %></td>
    <td><%= pass.created_at.strftime("%m/%d/%Y %I:%M %p")%></td>
    <td><%= pass.redeemed %></td>
	<td> <%= link_to 'Toggle Redeem', passes_toggleRedeem_path(pass,:id => pass.id), :method=>:post %></td>
  </tr>
<% end %>
</table>
<%end%>
<% else %>
<%= form_for @purchase, :html => { :class => "form-horizontal" } do |f| %>
<fieldset>
  <legend>Make a Purchase</legend>
  <%= f.hidden_field :stripe_card_token %>
  <%= f.hidden_field :date,:value => @pass_set.date %>
  <%= f.hidden_field :bar,:value =>  @bar.id %>
  <div class="control-group">
	<%= f.label "Number of Tickets", class: "control-label" %>
  	<div class="controls">
	  <%= f.select :num_passes, (1..5) %>
  	  <%= f.hidden_field :pass_set,:value =>  @pass_set.id %>
	</div>
  </div>
  <div class="control-group">
	<%= f.label :name, class: "control-label" %>
  	<div class="controls">
      <%= f.text_field :name %> <small>(Must match Valid ID)</small>
    </div>
  </div>

  <legend>Purchase Information</legend>
  <% if current_user.stripe_customer_token == nil %>
	<div class="field control-group">
	  <%= label_tag :card_number, "Credit Card Number", class: "control-label" %>
	  <div class="controls">
	    <%= text_field_tag :card_number, nil, name: nil %>
	  </div>
	</div>
	<div class="field control-group">
	  <%= label_tag :card_code, "Security Code on Card", class: "control-label" %>
	  <div class="controls">
		<%= text_field_tag :card_code, nil, name: nil %> <small>(CVV)</small>
	  </div> 
	</div> 
	<div class="field control-group">
	  <%= label_tag :card_month, "Card Expiration", class: "control-label" %>
	  <div class="controls">
	    <%= select_month nil, {add_month_numbers: true}, {name: nil, 	id:"card_month"} %>
	    <%= select_year nil, {start_year: Date.today.year, end_year:Date.today.year+15}, {name: nil, id: "card_year"} %>
	  </div>
	</div>
	<div class="control-group">
	  <div class="controls">
	    <label class="checkbox">
		  <%= check_box_tag "credit_card_save"%> Save my credit card information
		</label>
	  </div>
	</div>
	
			
			<div id="stripe_error">
			<noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
			</div>
		<% else %>
			<br>
			<p>We already have your credit card information.</p></br>
			<p>Last 4 numbers of Current Credit Card: <%= @last_four %></p>
			<br>
			<br>
		<% end %>
	<div class="form-actions">
      <%= f.submit "Submit", :class => "btn btn-primary", :onclick => "return getlistd();" %>
	  <%= link_to 'Cancel', :back, :class => "btn" %>
    </div>
</fieldset>
<% end %>
<% end %>
</br>
</br>