<p>
  <b>Bar:</b>
  <%= @pass_set.bar.name %>
</p>

<p>
  <b>Date:</b>
  <%= @pass_set.date %>
</p>

<p>
  <b>Total released passes:</b>
  <%= @pass_set.total_released_passes %>
</p>

<p>
  <b>Sold passes:</b>
  <%= @pass_set.sold_passes %>
</p>

<p>
  <b>Unsold passes:</b>
  <%= @pass_set.unsold_passes %>
</p>

<p>
  <b>Price:</b>
  <%= @pass_set.price %>
</p>

</br>
<% if current_user.partner? %>
<table cellpadding="5" >
  <tr>
    <th>Name on Valid ID</th>
    <th>Entry Date</th>
    <th>Bar</th>
    <th>Purchase Date</th>
    <th>Redeemed?</th>
	<th></th>
  </tr>

<% @passes.each do |pass| %>
  <tr>
    <td><%= pass.name %></td>
    <td><%= pass.pass_set.date %></td>
    <td><%= pass.pass_set.bar.name %></td>
    <td><%= pass.created_at%></td>
    <td><%= pass.redeemed %></td>
	<td> <%= link_to 'Toggle Redeem', passes_toggleRedeem_path(pass,:id => pass.id), :method=>:post %></td>
  </tr>
<% end %>
</table>

<% else %>
<%= form_for @purchase do |f| %>
  <%= f.hidden_field :date,:value => @pass_set.date %>
  <%= f.hidden_field :bar,:value =>  @bar.id %>
  Number of Tickets: </br>
  <%= f.select :num_passes, (1..5) %>
  <%= f.hidden_field :pass_set,:value =>  @pass_set.id %>
   <div>Name: </br>
   <%= f.text_field :name %> (Must match Valid ID)</div>
  <%= f.submit "Make Purchase"%>
<% end %>
<% end %>
</br>
</br>
<%= link_to 'Back', @pass_set.bar %>
