<div id="banner" class="row-fluid">
  <div class="span4 center-text">
		<%= image_tag("phone.png", alt: "App") %>
  </div>
  <div class="span8" id="banner-content">
		<%= image_tag("get_listed_text.png", alt: "Get Listed") %>
		<p>LISTD provides premium access to dining and entertainment locations.</br></br>Also available for your mobile phone and tablet.</br></br></p>
		<div id="email-input">
			<%= simple_form_for(@potential_customer) do |f| %>
	  			<%= f.error_notification %>
				<div class="input-append">	
	    			<%= f.text_field :email, :placeholder => "Email" %>
	    			<%= f.button :submit, :class => "btn btn-inverse", :value => "Submit" %>
				</div>
			<% end %>
		</div>
   </div>
</div> <!-- end of #banner -->

<div id="steps" class="row-fluid">
  	<div class="span4" id="one">
		<p>Select a location and find available passes or reservations for a specific day.</p>
  	</div>
  	<div class="span4" id="two">
		<p>Purchase passes or reservations through our online payment system.</p>
  	</div>
  	<div class="span4" id="three">
		<p>Show your LISTD confirmation at the selected location and enjoy!</p>
  	</div>
</div> <!-- end of #steps -->