<div class="hero-unit">
  <h3>Search for a bar</h3>
  <div id="search">
    <%= render 'bars/search' %>
  </div>
  <br />
  <% if(@localvenues.empty?) %>
	<h5> There are no bars located near <%=@user_information[0].city%> </h5>
  <% else %>
	<h3>Bars Near <%=@user_information[0].city%>, <%=@user_information[0].state%> </h3>
    <% for location in @localvenues %>
	  <div class="row">
	    <div class="bar-preview span4 shadow">
	      <h5> <%= link_to location.name, location %> </h5>
	      <address>
		    <small> <%= location.address %> <br>
	          <abbr title="Phone">P:</abbr> <%= location.phone_number %> <br>
			  Distance: <%= location.distance_to(@user_information[0].coordinates).round%> miles
		    </small>
		  </address>
	    </div> <!-- end of .bar-preview -->
 	  </div>
	<% end %>
  <%end%>
</div>
