<div class="hero-unit registration-form">
  <h2>Sign in</h2>

  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal row"}) do |f| %>
  <div class="span8 offset2">
    <%= f.input :email, :autofocus => true %>
    <%= f.input :password %>
    <%= f.input :remember_me, :inline_label => 'Remember me', :label => false, :as => :boolean if devise_mapping.rememberable? %>
	<div class="form-actions">
      <%= f.submit "Sign in", :class => "btn btn-primary" %>
    </div>

	<div class="span6 offset2">
	  <%= render "devise/shared/links" %>
	</div>
  </div>
<% end %>

</div>