<footer class="footer">
  <div class="container">
	<div class=" row-fluid">
	<div class="span9">
	  <nav>
	    <ul>
		<!--
          <li><small><%= link_to "About Us",   '/pages/about_us' %></small></li>
		  <li><small> | </small></li>
	      <li><small><%= link_to "Customers", '/pages/customers' %></small></li>
	      <li><small> | </small></li>
		  <li><small><%= link_to "Privacy Policy", '/pages/privacy_policy' %></small></li>
          <li><small> | </small></li>
		  <li><small><%= link_to "Terms of Service", '/pages/terms_of_service' %></small></li>
		  <li><small> | </small></li>
		  <li><small><%= link_to "Contact", '/pages/contact_us' %></small></li>
	    </ul>
	  -->
	  </nav>
	  <br><small>&copy; LISTD, 2012. All rights reserved.</small>
    </div>  <!-- end of .span9 -->
	<div class="span3">
	  <ul class="social-icons">
	    <li><%= link_to image_tag("fb_icon.png", alt: "Facebook"), 'http://www.facebook.com/listd' %></li>
	    <li><%= link_to image_tag("twitter_icon.png", alt: "Twitter"), 'http://twitter.com/LISTDnow/' %></li>
	    <li><%= mail_to("questions@listdnow.com", image_tag("mail_icon.png")) %></li>
	  </ul>
    </div> <!-- end of .span3 -->
</div>
  </div> <!-- end of .container -->
</footer>