<%= link_to "Listdapp", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>        
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
	  <% if current_user.admin? %>
	Logged in as admin: <%= current_user.email %>.
	<% elsif current_user.partner? %>
	
	<li>
    <%= link_to 'Add a bar location', '/bars/new' %>
    </li>
	
	Logged in as partner: <%= current_user.email %>.
	<% else %>
	Logged in as user: <%= current_user.email %>.
	<li>
    <%= link_to 'My Passes', '/mypasses' %>
    </li>
	<% end %>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
</ul>